log
/*.su3
/*.xpi2p
/*.zip
/generated/
/i2p.chromium.base.profile/
/i2p.firefox.base.profile/
/i2p.chromium.usability.profile/
/i2p.firefox.usability.profile/
/src/i2p.chromium.base.profile/
/src/i2p.firefox.base.profile/
/src/i2p.chromium.usability.profile/
/src/i2p.firefox.usability.profile/
i2p.chromium.profile
i2p.firefox.profile
src/build
*.err
*.log
i2pbrowser/
/i2pbrowser*.deb
/i2pbrowser*.rpm
/logs
/*.jar
/*.msi
/*.exe
/user.js
arkenfoxnum
/*.tar.gz
/*.tar.xz
/i2p.firefox.profile.*
/src/*.zip
/src/*profile/extensions/*.xpi
i2p.plugins.firefox/