clientApp.0.main=net.i2p.i2pfirefox.plugin.I2PBrowserPlugin
clientApp.0.name=I2PBrowserPlugin
clientApp.0.delay=0
clientApp.0.startOnLoad=true
# we also use i2p.jar and i2ptunnel.jar, they are in the standard router classpath
clientApp.0.classpath=$PLUGIN/lib/i2pfirefox-plugin.jar,$PLUGIN/lib/i2pfirefox.jar,$I2P/lib/i2psnark.jar
