/**
 * Donations
 */

h3 {
    margin: 0;
}

#table-bank-transfer, .mono-block {
    font-family: 'monospace', 'Consolas', Arial, sans-serif;
}

.div-donations {
    border: 1px solid lightgrey;
    border-radius: 4px;
    line-break: anywhere;
}

.div-donations > img {
    padding-bottom: 30px;
}
