configFile=/home/idk/.i2p/i2ptunnel.config.d/00-I2P HTTP Proxy-i2ptunnel.config
description=HTTP proxy for browsing eepsites and the web
interface=127.0.0.1
listenPort=7695
name=I2P HTTP Proxy for Browsing Only
option.i2cp.closeIdleTime=1800000
option.i2cp.closeOnIdle=true
option.i2cp.delayOpen=false
option.i2cp.destination.sigType=7
option.i2cp.leaseSetEncType=4,0
option.i2cp.newDestOnResume=true
option.i2cp.reduceIdleTime=900000
option.i2cp.reduceOnIdle=true
option.i2cp.reduceQuantity=1
option.i2p.streaming.connectDelay=0
option.i2ptunnel.httpclient.SSLOutproxies=exit.stormycloud.i2p
option.i2ptunnel.httpclient.allowInternalSSL=true
option.i2ptunnel.httpclient.jumpServers=http://stats.i2p/cgi-bin/jump.cgi?a=,http://i2pjump.i2p/jump/,http://notbob.i2p/cgi-bin/jump.cgi?q=
option.i2ptunnel.httpclient.sendAccept=false
option.i2ptunnel.httpclient.sendReferer=false
option.i2ptunnel.httpclient.sendUserAgent=false
option.i2ptunnel.useLocalOutproxy=false
option.inbound.backupQuantity=3
option.inbound.length=1
option.inbound.lengthVariance=0
option.inbound.nickname=shared clients
option.inbound.quantity=3
option.outbound.backupQuantity=3
option.outbound.length=1
option.outbound.lengthVariance=0
option.outbound.nickname=shared clients
option.outbound.priority=10
option.outbound.quantity=3
option.outproxyAuth=false
option.persistentClientKey=false
option.sslManuallySet=true
option.useSSL=false
proxyList=exit.stormycloud.i2p
sharedClient=true
startOnLoad=true
type=httpclient
