name=i2pfirefox
signer=idki2p@mail.i2p
consoleLinkName=I2PFirefox
consoleLinkURL=/
consoleLinkTooltip=Firefox process manager for I2P
icon=favicon.png
description=Firefox process manager for I2P
author=idk
updateURL=/i2psnark/i2p.plugins.firefox/i2pfirefox-update.xpi2p
updateURL.su3=/i2psnark/i2p.plugins.firefox/i2pfirefox-update.su3
websiteURL=http://idk.i2p/i2p.plugins.firefox/
license=Apache 2.0
min-jetty-version=9
min-i2p-version=0.9.31
